
<div class="row slide">
	<div class="col-md-24 text-center">
        <div id="slider">
            <input type="radio" id="button-1" name="controls" />
            <input type="radio" id="button-2" name="controls" checked />
            <input type="radio" id="button-3" name="controls" />
            <input type="radio" id="button-4" name="controls" />
            <input type="radio" id="button-5" name="controls" />
            <label for="button-1" class="arrows" id="arrow-1">></label>
            <label for="button-2" class="arrows" id="arrow-2"<></label>
            <label for="button-3" class="arrows" id="arrow-3">></label>
            <label for="button-4" class="arrows" id="arrow-4">></label>
            <label for="button-5" class="arrows" id="arrow-5">></label>
            <div id="slides">
                <div>
                    <span id="image-1" style="background: url('../images/picdemo.jpg'); background-size:100% 100%;"> 
                        <span class="sinfo">
                            <strontg> Cho thuê phòng trọ  gần cầu Nguyễn Văn Cừ</strong>
                            <em>(30 Mar)</em>
                        </span>
                    </span>
                    <span id="image-2" style="background: url('../images/picdemo.jpg'); background-size:100% 100%;"> 
                        <span class="sinfo">
                            <strong>Cho thuê phòng trọ nguyên lầu hẻm số 801/93, Đường XVNT, Phường26, Q Bình Thạnh </strong>
                            <em>(2 Jun)</em>
                        </span>
                    </span>
                    <span id="image-3" style="background: url('../images/picdemo.jpg'); background-size:100% 100%;">
                        <span class="sinfo">
                            <strong>Phòng Rộng, Máy Lạnh, Máy Nước Nóng Đường D2.</strong>
                            <em>(5 Aug)</em>
                        </span>
                    </span>
                    <span id="image-4" style="background: url('../images/picdemo.jpg'); background-size:100% 100%;"> 
                        <span class="sinfo">
                            <strong>Cho thuê phòng cao cấp Quận Tân Bình, giờ giấc tự do, gần sân bay - (công viên Hoàng Văn Thụ)</strong>
                            <em>(8 Oct)</em>
                        </span>
                    </span>
                    <span id="image-5" style="background: url('../images/picdemo.jpg'); background-size:100% 100%;"> 
                        <span class="sinfo">
                            <strong>Tuyen Nam sinh vien o ghep q5</strong>
                            <em>(20 Dec)</em>
                        </span>
                    </span>
                </div>
            </div>
        </div>
	</div>
</div>

<div id="colcenter" class="row">

	<div class="panel panel-primary col-md-5" style="padding:0px;" id="left-bar">
    </div>

	<div id="list-content" class="col-md-18 col-md-offset-6">
		<div class="dtitle"><%=house.get("Title")%></div>
		<div class="dnguoidang">
			<span class="nguoidang">Người đăng :</span> 
			<span class="green"><%=house.get("Poster")%></span> | 
			<span class="timepost">Đăng lúc :</span> 
			<span class="green"><%=house.get("PostDate")%></span> - 
			<!--<span>146 lượt xem</span>-->
		</div>
		<div class="ddiachi">
			<span class="direction">Địa chỉ :</span> 
			<span class="green"><%=house.get("Address") + " " + house.get("DistrictName")%> - TP.HCM</span>
		</div>
		<div class="linebreak">
        </div>
        <div class="dinfo clearfix">           
           <!-- <div class="dphone info">Điện thoại : <span class="blue bold">0937797594</span></div> -->
            <div class="dgia info">Giá : 
            	<span class="red bold">
            		<%if(house.get("Price") > 0){%>
            			<%=house.get("Price")%> vnđ
        			<%}else{%>
        				Thỏa thuận
        			<%}%>
            </span>
        </div>
            <div class="ddientich info">Diện tích : <span class="blue"><%=house.get("Area")%> m<sup>2</sup></span></div>
        </div>
    	<div class="dnoidung">
    		<% _.each(house.get("Content").split('\n'), function(line){ %>
    		 <%=line%> <br/>
    		<%});%>
	        <center>
            <p class="imgnhatro"></p>
            <%_.each(house.get("Imgs"), function(img){%>
            <p><img src="<%=img%>"></p> 
            <%});%>     
            <p>
            </p>
        	</center>

            <div class="form-group">
                <div id="map-canvas-readonly" style="height: 500px; width: 80%; margin: auto;"></div>
            </div>
	        <input type="hidden" id="Latitude" value="<%=house.get("Latitude")%>"/>
            <input type="hidden" id="Longtitude" value="<%=house.get("Longtitude")%>"/>

          	<div class="notice">            
            	<p class="textnote">
            	<span class="red">Lưu ý : </span>
    				Các thông tin rao vặt là do người đăng tin đăng tải toàn bộ thông tin. Chúng tôi hoàn toàn không chịu trách nhiệm về bất cứ thông tin nào liên qua đến các thông tin này. Chúng tôi luôn cố gắng để đưa các tin tức nhanh và chính xác nhất cho các bạn. Nếu quý vị phát hiện có sai sót hay vấn đề gì xin hãy thông báo cho chúng tôi.
    			</p>
            </div>      
                 
        </div>

        <div class="fb-like" data-href="http://nhatro.parseapp.com/#/detail/<%=house.get("Id")%>" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
         <div class="fb-comments" data-href="http://nhatro.parseapp.com/#/detail/<%=house.get("Id")%>" data-width="600" data-numposts="10" data-colorscheme="light"></div>
	    <script type="text/javascript">
            FB.XFBML.parse();

            $(document).ready(function(){
               $("#map-canvas-readonly").ready(function () {
                    var mapCanvas = document.getElementById("map-canvas-readonly");
                    if (mapCanvas == null)
                        return;
                    var lat = (parseFloat($("input#Latitude").val().replace(/,/g, ".")));
                    var lng = (parseFloat($("input#Longtitude").val().replace(/,/g, ".")));
                    if (lat == 0){
                        var geocoder = new google.maps.Geocoder();
                        var address = "<%=house.get("Address") + " " + house.get("DistrictName") + " - TPHCM"%>";
                        geocoder.geocode({ 'address': address }, function (results, status) {
                            if (status == google.maps.GeocoderStatus.OK) {
                                map.setCenter(results[0].geometry.location);
                                var newLatLng = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
                                marker.setPosition(newLatLng);
                                $("input#Latitude").val(marker.getPosition().lat());
                                $("input#Longtitude").val(marker.getPosition().lng());
                            } else {
                                alert("Geocode was not successful for the following reason: " + status);
                            }
                        });
                    }
                    var lat = (parseFloat($("input#Latitude").val().replace(/,/g, ".")));
                    var lng = (parseFloat($("input#Longtitude").val().replace(/,/g, ".")));
                    //vẽ google map lên div map-canvas
                    var mapOptions = {
                        zoom: 15,
                        center: new google.maps.LatLng(lat, lng),
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    }
                    map = new google.maps.Map(mapCanvas, mapOptions);

                    var marker = new google.maps.Marker({
                        map: map,
                        draggable: false,
                        position: new google.maps.LatLng(lat, lng)
                    });
                }); 
            });
            
	    </script>
	</div>

</div>