
<div class="row slide">
	<div class="col-md-24 text-center">
        <div id="slider">
            <input type="radio" id="button-1" name="controls" />
            <input type="radio" id="button-2" name="controls" checked />
            <input type="radio" id="button-3" name="controls" />
            <input type="radio" id="button-4" name="controls" />
            <input type="radio" id="button-5" name="controls" />
            <label for="button-1" class="arrows" id="arrow-1">></label>
            <label for="button-2" class="arrows" id="arrow-2"<></label>
            <label for="button-3" class="arrows" id="arrow-3">></label>
            <label for="button-4" class="arrows" id="arrow-4">></label>
            <label for="button-5" class="arrows" id="arrow-5">></label>
            <div id="slides">
                <div>
                    <span id="image-1" style="background: url('../images/picdemo.jpg'); background-size:100% 100%;"> 
                        <span class="sinfo">
                            <strontg> Cho thuê phòng trọ  gần cầu Nguyễn Văn Cừ</strong>
                            <em>(30 Mar)</em>
                        </span>
                    </span>
                    <span id="image-2" style="background: url('../images/picdemo.jpg'); background-size:100% 100%;"> 
                        <span class="sinfo">
                            <strong>Cho thuê phòng trọ nguyên lầu hẻm số 801/93, Đường XVNT, Phường26, Q Bình Thạnh </strong>
                            <em>(2 Jun)</em>
                        </span>
                    </span>
                    <span id="image-3" style="background: url('../images/picdemo.jpg'); background-size:100% 100%;">
                        <span class="sinfo">
                            <strong>Phòng Rộng, Máy Lạnh, Máy Nước Nóng Đường D2.</strong>
                            <em>(5 Aug)</em>
                        </span>
                    </span>
                    <span id="image-4" style="background: url('../images/picdemo.jpg'); background-size:100% 100%;"> 
                        <span class="sinfo">
                            <strong>Cho thuê phòng cao cấp Quận Tân Bình, giờ giấc tự do, gần sân bay - (công viên Hoàng Văn Thụ)</strong>
                            <em>(8 Oct)</em>
                        </span>
                    </span>
                    <span id="image-5" style="background: url('../images/picdemo.jpg'); background-size:100% 100%;"> 
                        <span class="sinfo">
                            <strong>Tuyen Nam sinh vien o ghep q5</strong>
                            <em>(20 Dec)</em>
                        </span>
                    </span>
                </div>
            </div>
        </div>
	</div>
</div>

<div id="colcenter" class="row">

	<div class="col-md-5" id="search" > 	
		<div class="row" id="search-item">
			<img style="height:auto; width:auto; max-width:30px; max-height:30px;" 
				 src="images/search-icon-category.png">
			<span>Tìm theo chuyên mục</span>
			<select class="form-control">
				<option>Tất cả</option>
				<option>Phòng trọ</option>
				<option>Tìm người ở ghép</option>
				<option>Người cho thuê</option>
				<option>Căn hộ chung cư</option>
				<option>Khách sạn, nhà nghỉ</option>
				<option>Văn phòng</option>
			</select>
		</div>
		
		<div class="row" id="search-item">
			<img style="height:auto; width:auto; max-width:30px; max-height:30px;" 
				 src="images/search-icon-cost.png">
			<span>Tìm theo giá</span>
			<select class="form-control">
				<option>Tất cả</option>
				<option>Thỏa thuận</option>
				<option>Dưới 1 triệu</option>
				<option>Từ 1 - 2 triệu</option>
				<option>Từ 2 - 3 triệu</option>
				<option>Từ 3 - 4 triệu</option>
				<option>Từ 4 - 5 triệu</option>
				<option>Trên 5 triệu</option>
			</select>
		</div>
		
		<div class="row" id="search-item">
			<img style="height:auto; width:auto; max-width:30px; max-height:30px;" 
				 src="images/search-icon-area.png">
			<span>Tìm theo diện tích</span>
			<select class="form-control">
				
				
				
				<option>Tất cả</option>
				<option>Nhỏ hơn 20m&#178;</option>
				<option>Từ 20m&#178; - 30m&#178;</option>
				<option>Từ 30m&#178; - 50m&#178;</option>
				<option>Từ 50m&#178; - 80m&#178;</option>
				<option>Trên 80m&#178;</option>
			</select>
		</div>
	</div>

	<div id="list-content" class="col-md-18 col-md-offset-6">
		<div class="row text-center title">
			<span>Cho thuê phòng trọ, nhà trọ TP Hồ Chí Minh</span>
		</div>

		<div class="row" id="item-rent" >				
				<div class="col-md-2 text-center" style="padding:0px;">
					<img class="icondd" src="images/icon-loaitin-1.png">
					<span class="label label-default">New</span></br>
				</div>

				<div class="col-md-5">
					<a href="#" class="thumbnail">
						<img data-src="holder.js/171x180" src="images/picdemo.jpg">
					</a>
				</div>

				<div class="col-md-13" style="padding:0px">
					<a title="Cho thuê phòng trọ  gần cầu Nguyễn Văn Cừ" href="#">
						Cho thuê phòng trọ  gần cầu Nguyễn Văn Cừ
					</a>
					<div class="diachi">
						Địa chỉ: 157/89 Dương Bá Trạc, phường 1, quận 8
					</div>
					<div>
						Giá: <span class="price">3.000.000 vnđ</span><span> | </span><span class="area">Diện tích: 30.00 m<sup>2</sup></span> | <span class="view">Lượt xem: 4</span>
					</div>
				</div>

				<div class="col-md-4 box-district">
					<span class="price">Quận 8</span>
					<div class="Ngay">30/12/2013</div>																	
				</div>
		</div>

		<div class="row" id="item-rent" >				
				<div class="col-md-2 text-center" style="padding:0px;">
					<img class="icondd" src="images/icon-loaitin-2.png">
					<span class="label label-default">New</span></br>
				</div>

				<div class="col-md-5">
					<a href="#" class="thumbnail">
						<img data-src="holder.js/171x180" src="images/picdemo.jpg">
					</a>
				</div>

				<div class="col-md-13" style="padding:0px">
					<a title="Cho thuê phòng trọ  gần cầu Nguyễn Văn Cừ" href="#">
						Cho thuê phòng trọ  gần cầu Nguyễn Văn Cừ
					</a>
					<div class="diachi">
						Địa chỉ: 157/89 Dương Bá Trạc, phường 1, quận 8
					</div>
					<div>
						Giá: <span class="price">3.000.000 vnđ</span><span> | </span><span class="area">Diện tích: 30.00 m<sup>2</sup></span> | <span class="view">Lượt xem: 4</span>
					</div>
				</div>

				<div class="col-md-4 box-district">
					<span class="price">Quận 8</span>
					<div class="Ngay">30/12/2013</div>																	
				</div>
		</div>	


		<div class="row" id="item-rent" >				
				<div class="col-md-2 text-center" style="padding:0px;">
					<img class="icondd" src="images/icon-loaitin-3.png">
					<span class="label label-default">New</span></br>
				</div>

				<div class="col-md-5">
					<a href="#" class="thumbnail">
						<img data-src="holder.js/171x180" src="images/picdemo.jpg">
					</a>
				</div>

				<div class="col-md-13" style="padding:0px">
					<a title="Cho thuê phòng trọ  gần cầu Nguyễn Văn Cừ" href="#">
						Cho thuê phòng trọ  gần cầu Nguyễn Văn Cừ
					</a>
					<div class="diachi">
						Địa chỉ: 157/89 Dương Bá Trạc, phường 1, quận 8
					</div>
					<div>
						Giá: <span class="price">3.000.000 vnđ</span><span> | </span><span class="area">Diện tích: 30.00 m<sup>2</sup></span> | <span class="view">Lượt xem: 4</span>
					</div>
				</div>

				<div class="col-md-4 box-district">
					<span class="price">Quận 8</span>
					<div class="Ngay">30/12/2013</div>																	
				</div>
		</div>		


		<div class="row">
			<div class="pagination col-md-offset-6">
	            <li class="enable"><a href="#">&laquo;</a></li>
					<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
					<li class="enable"><a href="#">2 <span class="sr-only"></span></a></li>
					<li class="enable"><a href="#">3 <span class="sr-only"></span></a></li>
					<li class="enable"><a href="#">4 <span class="sr-only"></span></a></li>
					<li class="enable"><a href="#">5 <span class="sr-only"></span></a></li>
					<li class="enable"><a href="#">&raquo;</a></li>
			</div>
		</div>

		<div class="row">
			<center>
				<span style="display: none;" id="search_loading">
					<img alt="Loading" src="images/loadingheader.gif" class="img">
				</span>
			</center>
		</div>
	</div>
</div>