#colcenter{
    margin-top: 5px;   
    padding:0 15px 0 15px;
}

#list-content {
	position: absolute;
	float: left;
	box-shadow: 0 0 2px black;
	padding: 25px;
}

#item-rent {
	margin-top: 15px;
	-webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
    	    box-shadow: 0 8px 6px -6px black;
	padding:10px 15px 0 15px;
	background-color:#EAEAEA;
	font-family: "Segoe UI","proxima-nova","proxima-nova-1","proxima-nova-2","Proxima Nova",Helvetica,Arial,sans-serif;
	font-size: 15px;
	line-height: 20px;
}

span.price, .red {
	color: #E10A2B;	
}

span.area, .blue {
	color: #1208FF;
}

span.view {
	color: #3B5998;
}

.box-district {
	background-color: #F4F4F4;
	border:1px solid; 
	border-color:#A5A5A5;
	border-radius: 5px;
}

.title {
	height: 40px;
	font-size: 25px;
	padding: 10px;
}

.slide1 {
	margin-top: 5px;
}

#search {
	float: left;
	box-shadow: 0 0 2px black;
	padding: 5px;
	margin: 5px;
}

#search-item {
	margin-top: 15px;
}

#footer {
	position:fixed;
    bottom:0;
}

/*detail page*/

.dtitle {
	color: #0054A6;
	font-weight: bold;
	font-size: 15px;
	padding: 4px 0px;
}

.nguoidang {
	background: url(../images/personal.png) no-repeat scroll;
	padding-left: 20px;
	padding-top: 2px;
}

.timepost {
	background: url(../images/time.png) no-repeat scroll;
	padding-left: 20px;
	padding-top: 2px;
}

.dnguoidang, .ddiachi {
	color: #999;
	margin: 0px;
	padding: 0px;
}

.direction {
background: url(../images/direction.png) no-repeat scroll;
padding-left: 20px;
padding-top: 2px;
}

.linebreak {
	border-bottom: 1px solid #E9E9E9;
	padding: 5px 0px;
}

.green {
	color: #3B5998;
}

.dinfo {
	padding-top: 10px;
	padding-left: 20px;
	margin: 0 auto;
	display: table;
	padding: 0px;
}

.info {
	border-radius: 5px 5px 5px 5px;
	border: solid 1px #ccc;
	float: left;
	padding: 6px 6px 6px 25px;
	margin: 5px;
}

.dphone {
	background: url(../images/icon-phone.png) no-repeat scroll 3px;
}

.dgia {
	background: url(../images/dollar.png) no-repeat scroll 3px;
}

.ddientich {
	background: url(../images/icon-area.png) no-repeat scroll 3px;
}

.notice {
	margin-top: 30px;
}

.textnote {
	color: #888888;
	background: #f8f8f8;
	padding: 5px;
}
/*Slide css*/
#slider {
    display: block;
    height: 350px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-top: 60px;
    position: relative;
}
 
#slider #slides {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    position: relative;
}
 
#slider #slides > div {
    list-style: none;
    height: 100%;
    width: 500%;
    position: relative;
    left: 0px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Set 3D perspective since we're using 3D transforms */
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 600px; 
    -moz-perspective: 600px; 
    perspective: 600px;
    -webkit-perspective-origin: 10% 50%; 
    -moz-perspective-origin: 10% 50%; 
    perspective-origin: 10% 50%;
}
 
#slides > div > span {
    /* Run the tranistions */
    -webkit-transition: all 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    -moz-transition: all 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    -o-transition: all 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    transition: all 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    height: 320px;
    width: 10%;
    float: left;
    border-radius: 5px;
    opacity: 1;
    overflow: hidden;
    display: block;
    position: relative;
    font-size: 1.3em;
    top: 20px;
    z-index: 1;
}
 
/* Display none, so the user doesn't see whats happening with the radio buttons */
#slider input[type=radio] {
    display: none;
}
 
#slider #slides > div > span > img {
    margin: auto;
    height: 100%;
}
 
/* Style the arrows so they look nice! */
#slider .arrows {
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 290px;
    display: none;
    cursor: pointer;
    font-family: "SSStandard";
    z-index: 9999;
    width: 29px;
    height: 25px;
    border-radius: 32px;
    text-align: center;
    padding: 7px 0 0 3px;
    background: black;
    box-shadow: 0 0 20px rgba(200, 235, 248, 0.98), inset 0px 11px 24px -8px rgba(255,255,255,0.4);
}
 
#slider .arrows:hover {
    box-shadow: 0 0 20px rgba(200, 235, 248, 0.98), inset 0px -11px 24px -8px rgba(255,255,255,0.4);    
}
 
/* The info boxes */
#slides .sinfo {
    width: 100%;
    padding: 10px 10px 10px 10px;
    position: relative;
    bottom: 120px;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    -webkit-transition: all 1s 0.2s cubic-bezier(1, 0, 0.6, 1);
    transition: all 1s 0.2s cubic-bezier(1, 0, 0.6, 1);
    color: #fff;
    font-weight: bold;
    background-color: rgb(30, 30, 30);
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    line-height: 20px;
}
 
#slides .sinfo strong {
    /*border-bottom: 2px solid #fff;*/
    padding: 3px 0;
}
 
#slides .sinfo em {
    font-size: 0.8em;
    float: right;
    padding-top: 4px;
    color: rgba(255,255,255,0.2);
}
 
/* This is for positioning the arrows */
#button-1:checked ~ #arrow-2, #button-2:checked ~ #arrow-3, #button-3:checked ~ #arrow-4, #button-4:checked ~ #arrow-5 {
    right: 27%;
    display: block;
}
 
/* Since there is no previous sibling selector in CSS, we have to select the correct arrow, reposition it and rotate it 180deg so it appears as though it's a back arrow */
#button-2:checked ~ #arrow-1, #button-3:checked ~ #arrow-2, #button-4:checked ~ #arrow-3, #button-5:checked ~ #arrow-4 {
    left: 27%;
    display: block;
    -webkit-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    box-shadow: 0 0 20px rgba(200, 235, 248, 0.98), inset 0px -11px 24px -8px rgba(255,255,255,0.4);
}
 
#button-2:checked ~ #arrow-1:hover, #button-3:checked ~ #arrow-2:hover, #button-4:checked ~ #arrow-3:hover, #button-5:checked ~ #arrow-4:hover {
    box-shadow: 0 0 20px rgba(200, 235, 248, 0.98), inset 0px 11px 24px -8px rgba(255,255,255,0.4);
}
 
/* The images used in the slides, feel free to change this */
 
#image-2 {
    background: url('../images/picdemo.jpg');
    background-size:100% 100%;
}
 
#image-3 {
    background: url('../images/picdemo.jpg');
    background-size:100% 100%;
}
 
#image-4 {
    background: url('../images/picdemo.jpg');
    background-size:100% 100%;
}
 
#image-5 {
    background: url('../images/picdemo.jpg');
    background-size:100% 100%;
}
 
/* The next bit is a bit wordy, but it just positions the slides at either side of the selected slide 
   so we get a cool 3D effect */
#slider #button-1:checked ~ #slides > div #image-2, #slider #button-1:checked ~ #slides > div #image-3, 
#slider #button-1:checked ~ #slides > div #image-4, #slider #button-1:checked ~ #slides > div #image-5,
#slider #button-2:checked ~ #slides > div #image-3, #slider #button-2:checked ~ #slides > div #image-4, 
#slider #button-2:checked ~ #slides > div #image-5, #slider #button-3:checked ~ #slides > div #image-4,
#slider #button-3:checked ~ #slides > div #image-5, #slider #button-4:checked ~ #slides > div #image-5 {
    -webkit-transform: rotateY(-10deg) scale(0.8) translateX(-10%);
    transform: rotateY(-10deg) scale(0.8) translateX(-10%);
    z-index: 0;
}
 
#slider #button-2:checked ~ #slides > div #image-1, #slider #button-3:checked ~ #slides > div #image-2,
#slider #button-3:checked ~ #slides > div #image-1, #slider #button-4:checked ~ #slides > div #image-3, 
#slider #button-4:checked ~ #slides > div #image-2, #slider #button-4:checked ~ #slides > div #image-1, 
#slider #button-5:checked ~ #slides > div #image-4, #slider #button-5:checked ~ #slides > div #image-3,
#slider #button-5:checked ~ #slides > div #image-2, #slider #button-5:checked ~ #slides > div #image-1 {
    -webkit-transform: rotateY(10deg) scale(0.8) translateX(10%);
    transform: rotateY(10deg) scale(0.8) translateX(10%);
    z-index: 0;
}
 
/* Show the info box when the user selects the slides */
#slider #button-1:checked ~ #slides > div #image-1 .sinfo, 
#slider #button-2:checked ~ #slides > div #image-2 .sinfo,  
#slider #button-3:checked ~ #slides > div #image-3 .sinfo,
#slider #button-4:checked ~ #slides > div #image-4 .sinfo, 
#slider #button-5:checked ~ #slides > div #image-5 .sinfo {
    bottom: 0px;
}
 
/* .. and finally, move the slides into the correct position when the user clicks the arrow, so the right
   slide is selected */
 
#slider #button-1:checked ~ #slides > div > span { left: 5% }
 
#slider #button-2:checked ~ #slides > div > span { left: -5% }
 
#slider #button-3:checked ~ #slides > div > span { left: -15% }
 
#slider #button-4:checked ~ #slides > div > span { left: -25% }
 
#slider #button-5:checked ~ #slides > div > span { left: -35% }