img{
	max-width: 100%;
}

.sub-menu > li{
	padding: 5px;
}

.sub-menu > .divider{
	padding: 0px;
}

.no-pad{
	padding: 0px;
}

.pad-2{
	padding: 2px;
}

.pad-5{
	padding: 5px;
}

.pad-10{
	padding: 10px;
}

.pad-20{
	padding: 20px;
}

.pad-30{
	padding: 30px;
}

.pad-hor-2{
	padding-left: 2px;
	padding-right: 2px;
}

.pad-hor-5{
	padding-left: 5px;
	padding-right: 5px;
}

.pad-hor-10{
	padding-left: 10px;
	padding-right: 10px;
}

.pad-hor-20{
	padding-left: 20px;
	padding-right: 20px;
}

.pad-ver-2{
	padding-top: 2px;
	padding-bottom: 2px;
}

.pad-ver-5{
	padding-top: 5px;
	padding-bottom: 5px;
}

.pad-ver-6{
	padding-top: 6px;
	padding-bottom: 6px;
}

.pad-ver-10{
	padding-top: 10px;
	padding-bottom: 10px;
}

.pad-ver-20{
	padding-top: 20px;
	padding-bottom: 20px;
}

.pad-ver-25{
	padding-top: 25px;
	padding-bottom: 25px;
}

.pad-left-2{
	padding-left: 2px;
}

.pad-left-5{
	padding-left: 5px;
}

.pad-left-10{
	padding-left: 10px;
}

.pad-left-20{
	padding-left: 20px;
}

.pad-left-30{
	padding-left: 30px;
}

.pad-top-5{
	padding-top: 5px;
}

.pad-top-10{
	padding-top: 10px;
}

.pad-top-15{
	padding-top: 15px;
}

.pad-top-20{
	padding-top: 20px;
}

.no-margin{
    margin: 0px;
}

.margin-2{
	margin: 2px;
}

.margin-5{
	margin: 5px;
}

.margin-10{
	margin: 10px;
}

.margin-ver-2{
	margin-top: 2px;
	margin-bottom: 2px;
}

.margin-ver-5{
	margin-top: 5px;
	margin-bottom: 5px;
}

.margin-top-10{
    margin-top: 10px;
}

.dropdown-submenu{
    position:relative;
}
 
.dropdown-submenu > .dropdown-menu
{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
 
.dropdown-submenu:hover > .dropdown-menu{
    display:block;
}
 
.dropdown-submenu > a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
 
.dropdown-submenu:hover > a:after{
    border-left-color:#ffffff;
}
 
.dropdown-submenu .pull-left{
    float:none;
}
 
.dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.navbar-default {
    background-color: #006cbc;
    border-color: #22a2ff;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #22a2ff;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #22a2ff;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-toggle {
    border-color: #22a2ff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #22a2ff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
}