<div class="panel-heading pad-5">
    <h3 class="panel-title">Quận</h3>
</div>
<div class="panel-body">
    <a href="#" class="district-select">Tất cả</a><br />
    <%_.each(districts, function(district){%>
        <a href="#" class="district-select" id="<%=district.get('DistrictID')%>">
            <%=district.get("DistrictName")%>
        </a><br /> 
    <%})%>
</div>