<table class="table table-stripped table-bordered">
	<tr>
		<th>Tiêu đề</th>
		<th>Trạng thái</th>
		<th></th>
	</tr>
	<%_.each(houses.get("Result"), function(house){%>
		<tr>
			<td><a href="#" class="view-detail" data-value="<%=house.Id%>"><%=house.Title%></a></td>
			<td><%=house.State%></td>
			<td>
				<input type="hidden" name="id" value="<%=house.Id%>"/>
				<a href="#" class="do-action-link" data-action="delete"><div class="glyphicon glyphicon-remove-circle"></div>&nbsp;Delete</a> 
				<%if(house.State == "Pending"){%>
					<a href="#" class="do-action-link" data-action="approve"><div class="glyphicon glyphicon-check"></div>&nbsp;Approve</a> 
				<%}%>
			</td>
		</tr>
	<%});%>
</table>

<div class="row">
    <div id="pagination"></div>
</div>