<h1>Quản lý người dùng</h1>


<table class="table table-stripped table-boreder">
	<tr>
		<th>Id</th>
		<th>Họ tên</th>
		<th>Role</th>
		<th></th>
	</tr>
<% _.each(collection, function(model) { %>
	<tr>
		<td><%=model.get("id")%></td>
		<td><%= model.get('fullName') %></td>
		<td><select id = 'drop-<%= model.id %>'>
			  <option value="1" <% if ( model.get('roleId') == 1 ){ %> selected <% } %> >Admin</option>
			  <option value="2" <% if ( model.get('roleId')== 2 ){ %> selected <% } %> >User</option>
			  <option value="3" <% if ( model.get('roleId') == 3 ){ %> selected <% } %> >Banned</option>
			</select>
			<button class='delete-btn btn btn-danger' id='<%= model.id %>'>Change Role</button>
		</td> 
  </tr>
<% }); %>
</table>

