﻿<div class="row pad-5">
    <!-- left-side-bar -->
    <div class="col-md-6">
        <!-- warning -->
        <div class="panel panel-danger">
            <div class="panel-heading pad-5">
                <strong>Chú ý tin đăng sẽ bị xóa</strong>
            </div>
            <div class="panel-body pad-5 pad-hor-20">
                <ul class="pad-5" style="list-style-type: square">
                    <li><small>Nội dung mô tả quá sơ sài</small></li>
                    <li><small>Ảnh không liên quan đến nội dung</small></li>
                    <li><small>Địa chỉ phải cụ thể nên chọn địa chỉ đường chính xác</small></li>
                    <li><small>Tên liên hệ không rõ ràng</small></li>
                    <li><small>Các tin đăng bị trùng nhau</small></li>
                </ul>
            </div>
        </div>
        <!-- end warning -->

        <!-- tips -->
        <div class="panel panel-info">
            <div class="panel-heading pad-5">
                <strong>Hướng đăng tin hiệu quả</strong>
            </div>
            <div class="panel-body pad-5 pad-hor-20">
                <ul class="pad-5" style="list-style-type: square">
                    <li><small>Nội dung là tiếng việt có dấu, thể hiện được các đặc điểm của tài sản</small></li>
                    <li><small>Người dùng sẽ quan tâm hơn nếu tài sản có <b><i>mức giá</i></b> và <b><i>diện tích</i></b>. Hạn chế chọn mức giá thỏa thuận và diện tích không xác định</small></li>
                    <li><small>Nên điền <b><i>địa chỉ</i></b> cụ thể, và chọn <b><i>đường phố</i></b> của tài sản để tạo sự tin tưởng cho người đọc về sự hiện hữu của tài sản</small></li>
                    <li><small>Nên điền đầy đủ các thông tin theo yêu cầu và có <b><i>ảnh đính kèm</i></b> để người đọc có thể hình dung ra được tài sản của bạn</small></li>
                </ul>
            </div>
        </div>
        <!-- end tips -->
    </div>
    <!-- end left side bar -->
    <div class="col-md-18">

        <form id="add-article-form" class="form-horizontal" role="form">
            <input type="hidden" name="Id" value="<%=house.get("Id")%>"
        <!-- house info -->
        <div class="panel panel-default">
            <div class="panel-heading pad-5">
                <strong>Nhập thông tin cần đăng</strong>
            </div>
            <div class="panel-body">
                
                    <div class="form-group">
                        <label for="title" class="col-md-4 control-label">Tiêu đề (*)</label>
                        <div class="col-md-20">
                          <input type="text" class="form-control" id="title" name="Title" value="<%=house.get("Title")%>">
                        </div>
                    </div>
                

                    <div class="form-group">
                        <label for="article-content" class="col-md-4 control-label">Nội dung (*)</label>
                        <div class="col-md-20">
                          <textarea class="form-control" id="article-content" name="Content"><%=house.get("Content")%></textarea>
                        </div>
                    </div>

                    <input type="hidden" name="Price" id="real-price"/>
                    <div class="form-group">
                        <label for="price" class="col-md-4 control-label">Giá (*)</label>
                        <div class="col-md-10">
                          <input type="text" class="form-control" id="dummy-price">
                        </div>
                        <div class="col-md-4">
                          <input type="radio" name="price-group" checked="checked" id="price-vnd"> VNĐ
                        </div>
                        <div class="col-md-6">
                          <input type="radio" name="price-group" id="price-no"> Thỏa thuận
                        </div>
                    </div>
                    <script type="text/javascript">
                        $("#price-no").on("ifChecked", function(){
                            $("#real-price").val(0); 
                        });
                        $("#price-vnd").on("ifChecked", function(){
                            $("#real-price").val($("#dummy-price").val()); 
                        });
                        $("#dummy-price").keyup(function(){
                            $("#real-price").val($("#dummy-price").val());
                        });

                        var price = "<%=house.get("Price")%>";
                        if (price != 0){
                            $("#price-vnd").iCheck("check");
                            $("#dummy-price").val(price);
                        }
                        else{
                            $("#price-no").iCheck("check");
                        }
                    </script>

                    <div class="form-group">
                        <label for="dien-tich" class="col-md-4 control-label">Diện tích (*)</label>
                        <div class="col-md-20">
                          <input type="text" class="form-control" id="dien-tich" name="Area" value="<%=house.get("Area")%>">
                        </div>
                    </div>

                <!-- images -->
                    <input type='hidden' name="ImgURL"/>
                    <div class="form-group" id="image-area">
                        <label for="dien-tich" class="col-md-4 control-label">Hình ảnh</label>
                        <div class="col-md-20" id="image-block">
                        <%_.each(['0','1','2','3'], function(i){%>
                            <%if(house.get("Imgs") != null){%>
                            <%if(house.get("Imgs")[i] != null){%>
                            <div class='col-md-12'>
                                <input type='hidden' name='linkHinhanh' value='<%=house.get("Imgs")[i]%>'/>
                                <a class="close" data-dismiss="alert" href="#" aria-hidden="true" id="<%='close' + i%>">x</a>
                                <div class='thumbnail'>
                                <img class="image-display" data-src="holder.js/171x180" src="<%=house.get("Imgs")[i]%>" style="max-width: 200px; max-height: 150px;" />
                                </div>
                            </div>
                            <%}else{%>
                                <div class="fileinput fileinput-new col-md-12" data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="width: 100px; height: 75px;">
                                    <img data-src="content/js/holder.js/100%x100%" alt="...">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                                <div>
                                    <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" class="image-input image-display" name="hinhanhsp"></span>
                                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                </div>
                            </div>
                            <%}}else{%>
                             <div class="fileinput fileinput-new col-md-12" data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="width: 100px; height: 75px;">
                                    <img data-src="content/js/holder.js/100%x100%" alt="...">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                                <div>
                                    <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" class="image-input image-display" name="hinhanhsp"></span>
                                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                </div>
                            </div>
                        <%}})%>
                            
                        </div>
                    </div>
                <!-- end images -->
            
        <!-- end house info -->

        <!-- contact info -->
                <div class="form-group">
                    <label class="col-md-5 control-label">Địa chỉ (*)</label>
                    <div class="col-md-6">
                        <select style="width: 100%;" id="District" name="DistrictId">
                            <option value=0>Quận/Huyện</option>
                            <% _.each(districts, function(district){ %>
                                <option <%if(house.get("DistrictName") == district.get("DistrictName")){%>
                                        selected="selected"
                                    <%}%>
                                value="<%=district.get("DistrictID")%>"><%=district.get("DistrictName")%></option>
                            <%});%>
                        </select>
                    </div>
                    <label for="Address" class="col-md-4 control-label">Đường</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="Address" name="Address" value="<%=house.get('Address')%>">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-12 control-label">Bản đồ:<small>(Kéo thả marker để xác định lại vị trí)</small></label>
                <input type="hidden" id="Longtitude" name="Longtitude" value="<%=house.get('Longtitude')%>" />
                <input type="hidden" id="Latitude" name="Latitude" value="<%=house.get('Latitude')%>"/>
            </div>

            <div class="form-group">
                <div id="map-canvas" style="height: 500px; width: 80%; margin: auto;"></div>
            </div>

            <input type="submit" class="bnt btn-primary" value="Đăng tin" />
            <!-- end contact info -->
            </div>
        </div>

        </form>
    </div>
</div>

<script>
    $("input[type=radio]").iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%',
    });

    $(document).ready(function () {

        $(document).on('closed.bs.alert', function(){
            var nImg = $("#image-area").find(".image-display").length;
            console.log(nImg);
            if (nImg <= 4){
                var div = "<div class='fileinput fileinput-new col-md-12' data-provides='fileinput'>" +
                                '<div class="fileinput-new thumbnail" style="width: 100px; height: 75px;">' + 
                                    '<img data-src="content/js/holder.js/100%x100%" alt="...">' + 
                                '</div>' + 
                                '<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>' +
                                '<div>' + 
                                    '<span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" class="image-input image-display" name="hinhanhsp"></span>' +
                                    '<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>' +
                                '</div>' +
                            '</div>';
                $("#image-block").append(div);
            }
        });

        var marker;
        var map;
        var geocoder = new google.maps.Geocoder();
        function setLocation(createNew) {
            //lấy địa chỉ trong intput address và dropdown district
            var address = $("input#Address").val() + " ";
            address += $("select#District").find(":selected").text() + " Ho Chi Minh City, Viet Nam";

            if (createNew == true) {
                geocoder.geocode({ 'address': address }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        map.setCenter(results[0].geometry.location);
                        marker = new google.maps.Marker({
                            map: map,
                            draggable: true,
                            position: results[0].geometry.location
                        });
                        if ($("input#Latitude").val() == 0) {
                            $("input#Latitude").val(marker.getPosition().lat());
                            $("input#Longtitude").val(marker.getPosition().lng());
                        }
                        else {
                            var longtitude = (parseFloat($("input#Longtitude").val().replace(/,/g, ".")));
                            var latitude = (parseFloat($("input#Latitude").val().replace(/,/g, ".")));
                            var newlatlng = new google.maps.LatLng(latitude, longtitude);
                            marker.setPosition(newlatlng);
                            map.setCenter(newlatlng);
                        }
                        //add drag listener for marker
                        google.maps.event.addListener(marker, 'dragend', function () {
                            $("input#Latitude").val(marker.getPosition().lat());
                            $("input#Longtitude").val(marker.getPosition().lng());
                        });
                    } else {
                        alert("Geocode was not successful for the following reason: " + status);
                    }
                });
            }
            else {
                geocoder.geocode({ 'address': address }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        map.setCenter(results[0].geometry.location);
                        var newLatLng = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
                        marker.setPosition(newLatLng);
                        $("input#Latitude").val(marker.getPosition().lat());
                        $("input#Longtitude").val(marker.getPosition().lng());
                    } else {
                        alert("Geocode was not successful for the following reason: " + status);
                    }
                });
            }
        }

        $("#map-canvas").ready(function () {
            var mapCanvas = document.getElementById("map-canvas");
            if (mapCanvas == null)
                return;

            //vẽ google map lên div map-canvas
            var mapOptions = {
                zoom: 15,
                center: new google.maps.LatLng(-34.397, 150.644),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(mapCanvas, mapOptions);

            setLocation(true);
        });

        $("select#District").change(function () {
            setLocation(false);
        });
        $("input#Address").focusout(function () {
            setLocation(false);
        });
    });
</script>