<div class="row slide">
    <div class="col-md-24 text-center">
        <div id="slider">
            <input type="radio" id="button-1" name="controls" />
            <input type="radio" id="button-2" name="controls" checked />
            <input type="radio" id="button-3" name="controls" />
            <input type="radio" id="button-4" name="controls" />
            <input type="radio" id="button-5" name="controls" />
            <label for="button-1" class="arrows" id="arrow-1">></label>
            <label for="button-2" class="arrows" id="arrow-2"<></label>
            <label for="button-3" class="arrows" id="arrow-3">></label>
            <label for="button-4" class="arrows" id="arrow-4">></label>
            <label for="button-5" class="arrows" id="arrow-5">></label>
            <div id="slides">
                <div>
                    <span id="image-1" style="background: url('../images/picdemo.jpg'); background-size:100% 100%;"> 
                        <span class="sinfo">
                            <strontg> Cho thuê phòng trọ  gần cầu Nguyễn Văn Cừ</strong>
                            <em>(30 Mar)</em>
                        </span>
                    </span>
                    <span id="image-2" style="background: url('../images/picdemo.jpg'); background-size:100% 100%;"> 
                        <span class="sinfo">
                            <strong>Cho thuê phòng trọ nguyên lầu hẻm số 801/93, Đường XVNT, Phường26, Q Bình Thạnh </strong>
                            <em>(2 Jun)</em>
                        </span>
                    </span>
                    <span id="image-3" style="background: url('../images/picdemo.jpg'); background-size:100% 100%;">
                        <span class="sinfo">
                            <strong>Phòng Rộng, Máy Lạnh, Máy Nước Nóng Đường D2.</strong>
                            <em>(5 Aug)</em>
                        </span>
                    </span>
                    <span id="image-4" style="background: url('../images/picdemo.jpg'); background-size:100% 100%;"> 
                        <span class="sinfo">
                            <strong>Cho thuê phòng cao cấp Quận Tân Bình, giờ giấc tự do, gần sân bay - (công viên Hoàng Văn Thụ)</strong>
                            <em>(8 Oct)</em>
                        </span>
                    </span>
                    <span id="image-5" style="background: url('../images/picdemo.jpg'); background-size:100% 100%;"> 
                        <span class="sinfo">
                            <strong>Tuyen Nam sinh vien o ghep q5</strong>
                            <em>(20 Dec)</em>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="colcenter" class="row">

    <div class="panel panel-primary col-md-5" style="padding: 0px;" id="left-bar">
        
    </div>

    <div id="list-content" class="col-md-18 col-md-offset-6">
        <div class="row text-center title">
            <span>Cho thuê phòng trọ, nhà trọ TP Hồ Chí Minh</span>
        </div>

        <%_.each(houses.get("Result"), function(house){%>
            <div class="row item-rent">
                <div class="col-md-2 text-center" style="padding: 0px;">
                    <img class="icondd" src="images/icon-loaitin-1.png">
                    <span class="label label-default">New</span><br />
                </div>

                <div class="col-md-5">
                    <a href="#" class="thumbnail">
                        <img data-src="holder.js/171x180" src="<%=house.ImgUrl%>"/>
                    </a>
                </div>

                <div class="col-md-12" style="padding: 0px">
                    <a title="<%=house.Content%>" href="#" 
                        class="detail-link" id="<%=house.Id%>">
                        <%=house.Title%>
                    </a>
                    <div class="diachi">
                        Địa chỉ: <%=house.Address%>
                    </div>
                    <div>
                        Giá: <span class="price">
                            <%if(house.Price > 0){%>
                                <%=house.Price%> vnđ
                            <%}else{%> 
                                Thỏa thuận
                            <%}%>
                             </span><span> | </span><span class="area">Diện tích: <%=house.Area%> m<sup>2</sup></span> | <span class="view">Lượt xem: 4</span>
                    </div>
                </div>

                <div class="col-md-5 box-district">
                    <span class="price"><%=house.DistrictName%></span>
                    <div class="Ngay"><%=house.PostDate%></div>
                </div>
                <div class="col-md-5 margin-top-10 no-pad box-edit" id="<%=house.Id%>">
                </div>
            </div>
        <%})%>

        <div class="row">
            <div id="pagination"></div>
        </div>
        <div class="row">
            <center>
				<span style="display: none;" id="search_loading">
					<img alt="Loading" src="images/loadingheader.gif" class="img">
				</span>
			</center>
        </div>
    </div>
</div>
