﻿<form id="edit-profile-form" class="form-inline" role="form">
	<input type="hidden" name="id" value="<%=user.get("id")%>"/>
  <div class="form-group">
	<label for="name">Họ tên</label>
    <input type="text" class="form-control" id="name" placeholder="Nhập họ tên" value="<%=user.get("fullName")%>" name="fullName">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email" value="<%=user.get("email")%>" name="email">
  </div>
  <div class="form-group">
    <label for="phone">Số điện thoại</label>
    <input type="tel" class="form-control" id="phone" placeholder="Số điện thoại" value="<%=user.get("phone")%>" name="phone">
  </div>
  
  	<div class="row pad-20">
  		<button id="ok" type="submit" class="btn btn-default">Xác nhận</button>
  	</div>
  
</form>