<!-- upper header -->
<div id="upper-header" class="row">

  <!-- logo -->
  <div id="logo" class="col-md-2">
    <img style=" margin-top:11px; height:auto; width:auto; max-width:128px; max-height:128px;" 
         src="images/houses-for-rent.png">
  </div>
  <!-- end logo -->

  <!-- banner -->
  <div class="col-md-10 pad-hor-10">
  </div>
  <!-- end banner -->

  <!-- login -->
  <div class="col-md-4" id="user-control">
  </div>
  <div class="fb-login-button" show-faces="true" width="200" max-rows="1"
  perms='read_stream,publish_stream,email'></div>
 <!-- <fb:login-button id="fb-login-button" show-faces="true" width="200" max-rows="1"
  perms='read_stream,publish_stream,email'></fb:login-button> -->
  <!-- end login -->
</div>
<!-- end upper header -->

<!-- lower header -->
<div id="lower header" class="row">
  <div class="nav-collapse">
    <nav class="navbar navbar-inverse" role="navigation">
      <ul class="nav navbar-nav" id="menu-list">
        <li class="active"><a href="#" id="home-page-link">Trang chủ</a></li>
        <li><a href="#" id="create-article-link">Đăng tin</a></li>
        <li><a href="#" id="manage-article-link">Quản lý bài đăng</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#" id="admin-user-link">Tài khoản</a></li>
            <li><a href="#" id="admin-article-link">Bài đăng</a></li>
            <li><a href="#" id="admin-parse-article">Rút trích thông tin</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- end lower header -->

